In [ ]:
import numpy as np
import pandas as pd
import sqlalchemy
import pprint
import matplotlib.pyplot as plt
%matplotlib inline
#import psycopg2

In [ ]:
# connect to local database
from sqlalchemy import create_engine
engine = create_engine("postgresql+psycopg2://postgres:postgres@localhost:5432/employee_db")
#engine = create_engine("sqlite:///../Resources/employee_db.sqlite")

conn = engine.connect()

In [ ]:
# default
#engine = create_engine("postgresql://scott:tiger@localhost/mydatabase")
#conn = engine.connect()
# psycopg2
#engine = create_engine("postgresql+psycopg2://scott:tiger@localhost/mydatabase")
#conn = engine.connect()
# pg8000
#engine = create_engine("postgresql+pg8000://scott:tiger@localhost/mydatabase")
#conn = engine.connect()

In [ ]:
departments = pd.read_sql('select * from departments', conn)
departments

In [ ]:
# Create a histogram to visualize the most common salary ranges for employees.
salaries_df = pd.read_sql("select * from salaries", conn)
salaries_df.fillna("NaN")
salaries_df["salary"].max()

In [ ]:
plt.figure(figsize=(10,5))
bins = [40000, 50000, 60000, 70000, 80000, 90000, 100000, 110000, 120000, 130000]
n, bins, patches = plt.hist(x=salaries_df["salary"], bins = bins, color = 'b', alpha=0.9, rwidth=0.85)
plt.grid(axis='y', alpha=0.75)
plt.xlabel('Salary Range')
plt.ylabel('Frequency')
plt.title('Most Common Salary Ranges')
plt.show()

In [ ]:
# Create a bar chart of average salary by title.
titles_df = pd.read_sql("select * from titles", connection)
titles_df.fillna("NaN")

In [ ]:
titles_df = titles_df.rename(columns = {"title_id": "emp_title_id"})
titles_df

In [ ]:
merge_df = pd.merge(employees_df, salaries_df, on = "emp_no")
merge_df.head()

In [ ]:
avg_salary_by_title = merge_df.groupby(["emp_title_id"])["salary"].mean()
avg_salary_by_title

In [ ]:
salary_by_title_df = pd.merge(titles_df, avg_salary_by_title, on = "emp_title_id")
salary_by_title_df

In [ ]:
x_axis = np.arange(len(salary_by_title_df))
tick_locations = [value for value in x_axis]
salary_by_title_df = salary_by_title_df.sort_values("salary", ascending = False)
plt.bar(x_axis, salary_by_title_df["salary"], alpha = 0.9, align="center")
plt.xticks(tick_locations, salary_by_title_df["title"], rotation="45", horizontalalignment = "right")
plt.xlim(-0.75, len(x_axis))
plt.ylim(0, 60000)
plt.title("Average Salary by Title", fontsize = 14)
plt.xlabel("Title")
plt.ylabel("Average Salary")
plt.show()